<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/static/assets/img/logo.png" rel="icon">

    <title>Đăng Nhập</title>

    <link href="/FormAdmin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="/FormAdmin/css/sb-admin-2.min.css" rel="stylesheet">

    <style>
        @keyframes fadeOut {
            0% {
                opacity: 1;
                visibility: visible;
            }
            100% {
                opacity: 0;
                visibility: hidden;
                display: none;
            }
        }
        .bg-login-image{
            background:url(/images/login.avif);
            background-position:center;
            background-size:cover
        }
        .bg-gradient-info {
            background: url('/images/nen.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>

</head>

<body class="bg-gradient-info">

<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center" >
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Chào Mừng Đến với Gạo Quê!</h1>
                                </div>
                                <!-- thông báo -->
                                <div th:if="${error}" class="alert alert-danger text-center" th:text="${error}"
                                     style="animation: fadeOut 3s ease-out forwards;">
                                </div>
                                <!-- Show error messages -->
                                <div th:if="${message}" class="alert alert-success text-center" th:text="${message}"
                                     style="animation: fadeOut 3s ease-out forwards;">
                                </div>
                                <!-- thông báo -->

                                <form th:action="@{/login}" method="post">
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user" id="email" name="username" placeholder="Nhập email hoặc tên..." required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user" id="password" name="password" placeholder="Nhập mật khẩu..." required>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input" id="customCheck">
                                            <label class="custom-control-label" for="customCheck">Nhớ mật khẩu</label>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-user btn-block">Đăng Nhập</button>
                                </form>

                                <hr>
                                <a href="/User/Google" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Đăng nhập bằng Google
                                </a>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="/User/forgotPassword">Quên mật khẩu?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small"  th:href="@{/register}">Tạo tài khoản!</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/FormAdmin/vendor/jquery/jquery.min.js"></script>
<script src="/FormAdmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/FormAdmin/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/FormAdmin/js/sb-admin-2.min.js"></script>
<!-- Bootstrap core JavaScript-->

</body>
</html>