<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Chủ</title>
    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <!-- Main CSS File -->
    <link href="/assets/css/main.css" rel="stylesheet">

    <style>
        @keyframes fadeOut {
            0% {
                opacity: 1;
                visibility: visible;
            }
            100% {
                opacity: 0;
                visibility: hidden;
                display: none; /* Ẩn phần tử hoàn toàn khỏi layout */
            }
        }
    </style>
</head>
<body class="index-page">

    <!-- Header -->
    <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center">
            <h1 class="sitename"><span>G</span>ạo Quê</h1>
        </a>
        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="/home">Trang Chủ</a></li>
                <li><a href="/Services">Dịch Vụ</a></li>
                <li><a href="/Product">Sản Phẩm</a></li>
                <li><a href="/contact">Liên Hiện</a></li>
                <li class="dropdown">
                    <a href="#"><span>AI</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                        <li><a href="AINhanDien">Nhận Diện Gạo</a></li>
                        <li><a href="#">Dự Đoán Giá Gạo</a></li>
                    </ul>
                </li>
                <li><a href="/cart"><i class="bi bi-cart fs-5"></i></a></li>
                <li class="dropdown">
                    <a href="#">
                        <span th:text="${user != null ? 'Xin chào ' + user.getFirstName() + user.getLastName() : 'Người Dùng'}"></span>
                        <i class="bi bi-chevron-down toggle-dropdown"></i>
                    </a>
                    <ul>
                        <!-- Nếu người dùng chưa đăng nhập -->
                        <li th:if="${user == null}"><a href="/login">Đăng Nhập</a></li>
                        <li th:if="${user == null}"><a href="/register">Đăng kí</a></li>

                        <!-- Nếu người dùng đã đăng nhập -->
                        <li th:if="${user != null}">
                            <form class="text-dark">
                                <button class="btn btn-outline-light "><a href="/profile">Thông tin người dùng</a></button>
                            </form>
                        </li>
                        <li th:if="${user != null}">
                            <form th:action="@{/logout}"  method="post" class="text-dark">
                                <button class="btn btn-outline-light " type="submit"><a>Đăng xuất</a></button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
    </div>
</header>
    <!-- end Header -->

    <!-- body -->
    <main class="main">

        <!-- home -->
        <section id="hero" class="hero section light-background">
            <div class="position-absolute top-0 start-0 w-100 h-100 z-index-n1">
                <img src="/assets/img/hero-img.png" alt="" class="img-fluid opacity-80">
            </div>

            <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
                <div class="row gy-5">
                    <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center mt-4">
                        <h2 class="text-white">Gạo Quê</h2>
                        <div class="text-bg-light card col-md-8">
                            <span class="fst-italic">Là một trong những nước xuất khẩu gạo hàng đầu thế giới nhưng trong nhiều năm qua,
                            thương hiệu gạo Việt lại ít được biết đến ngay cả ở những nước ăn gạo truyền thống,
                            hay những thị trường khó tính như Mỹ và châu Âu. Gạo Việt Nam bị đóng nhãn mác gạo nước ngoài,
                            xuất khẩu thô với giá rẻ, sang các thị trường như châu Phi, Trung Quốc, ASEAN... là phổ biến,
                            xuất khẩu nhiều nhưng doanh thu chưa cao.</span>
                        </div>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 align-items-center">
                        <img src="/assets/img/hero-img.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

            <div class="icon-boxes position-relative" data-aos="fade-up" data-aos-delay="200">
                <div class="container position-relative">
                    <div class="row gy-4 mt-5">

                        <div class="col-xl-3 col-md-6">
                            <div class="icon-box">
                                <div class="icon"><i class="bi bi-easel"></i></div>
                                <h4 class="title"><a href="/AINhanDien" class="stretched-link">Nhận Diện</a></h4>
                            </div>
                        </div><!--End Icon Box -->

                        <div class="col-xl-3 col-md-6">
                            <div class="icon-box">
                                <div class="icon"><i class="bi bi-grid-1x2"></i></div>
                                <h4 class="title"><a href="/Product" class="stretched-link">Sản Phẩm</a></h4>
                            </div>
                        </div><!--End Icon Box -->

                        <div class="col-xl-3 col-md-6">
                            <div class="icon-box">
                                <div class="icon"><i class="bi bi-graph-up"></i></div>
                                <h4 class="title"><a href="" class="stretched-link">Dự Đoán</a></h4>
                            </div>
                        </div><!--End Icon Box -->

                        <div class="col-xl-3 col-md-6">
                            <div class="icon-box">
                                <div class="icon"><i class="bi bi-boxes"></i></div>
                                <h4 class="title"><a href="" class="stretched-link">Người Dùng</a></h4>
                            </div>
                        </div><!--End Icon Box -->

                    </div>
                </div>
            </div>

        </section>
        <!-- End home -->

        <!-- giới thiệu -->
        <section id="about" class="about section">

            <div class="container">

                <div class="row gy-4">

                    <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
                        <p class="who-we-are">Đội ngũ lập trình</p>
                        <h3>Phát triển tiền năng nông sản Việt</h3>
                        <p class="fst-italic">
                            Là một trong những nước xuất khẩu gạo hàng đầu thế giới nhưng trong nhiều năm qua,
                            thương hiệu gạo Việt lại ít được biết đến.
                        </p>
                        <ul>
                            <li><i class="bi bi-check-circle"></i> <span>Dùng công nghệ mới để có thể phát triển nông sản cho nước nhà.</span></li>
                            <li><i class="bi bi-check-circle"></i> <span>Nâng tầm gạo Việt, góp phần xây dựng đất nước.</span></li>
                            <li><i class="bi bi-check-circle"></i> <span>Ứng dụng công nghệ cao, tối ưu hóa quá trình làm việc.</span></li>
                        </ul>
                    </div>

                    <div class="col-lg-6 about-images" data-aos="fade-up" data-aos-delay="200">
                        <div class="row gy-4">
                            <div class="col-lg-6">
                                <img src="/assets/img/about-company-1.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="col-lg-6">
                                <div class="row gy-4">
                                    <div class="col-lg-12">
                                        <img src="/assets/img/about-company-2.jpg" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-lg-12">
                                        <img src="/assets/img/about-company-3.jpg" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </section>
        <!-- giới thiệu-->

        <!-- dịch vụ -->
        <section id="services" class="services section light-background">

            <div class="container section-title" data-aos="fade-up">
                <h2>Dịch Vụ</h2>
                <div><span>Dịch vụ của </span> <span class="description-title">Chúng Tôi</span></div>
            </div>

            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="service-item  position-relative">
                            <div class="icon">
                                <i class="bi bi-grid-1x2"></i>
                            </div>
                            <a href="/Product" class="stretched-link">
                                <h3>Bán Hàng</h3>
                            </a>
                            <p>Bán các sản phẩm liên quan đế gạo, các sản phẩm nông sản.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="bi bi-graph-up"></i>
                            </div>
                            <a href="/" class="stretched-link">
                                <h3>Dự đoán Giá Gạo</h3>
                            </a>
                            <p>Đưa ra các nhận định gần đúng nhất về giá cả của thị trường gạo trong thời gian sắp tới.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="bi bi-easel"></i>
                            </div>
                            <a href="/AINhanDien" class="stretched-link">
                                <h3>Nhận Diện Hạt Gạo</h3>
                            </a>
                            <p>Người dùng cung cấp hình ảnh hạt gạo, website sẽ trả về thông tin loại gạo gần giống nhất.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="bi bi-chat-square-dots"></i>
                            </div>
                            <a href="/" class="stretched-link">
                                <h3>Chat Bot Trả Lời</h3>
                            </a>
                            <p>Bạn đặt câu hỏi, AI sẽ tự Động trả lời câu hỏi của bạn 1 cách hợp lý nhất.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="bi bi-info-circle"></i>
                            </div>
                            <a href="/Info" class="stretched-link">
                                <h3>Thông Tin Về Cửa Hàng</h3>
                            </a>
                        <p>Website Gạo Quê, là trang web bán hàng thiên về nghiêm cứu về Gạo.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="bi bi-person-lines-fill"></i>
                            </div>
                            <a href="/contact" class="stretched-link">
                                <h3>Liên Hệ</h3>
                            </a>
                            <p>Liên hiện với bộ phận chăn sóc khách nếu bạn đang gặp vấn đề khó khăn.</p>
                        </div>
                    </div>

                </div>

            </div>

        </section>
        <!-- dịch vụ -->

        <!-- sản phẩm -->
        <section id="pricing" class="pricing section">

            <div class="container section-title" data-aos="fade-up">
                <h2>Sản Phẩm</h2>
                <div><span>Sản phẩm </span> <span class="description-title">nổi bật</span></div>
            </div>

            <div class="container">
                <div class="row gy-4">

                    <div th:each="product : ${products}" th:data-id="${product.id}" class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                        <div class="pricing-tem">
                            <h3 style="color: #20c997;"><a th:text="${product.name}"></a></h3>
                            <div th:text="${product.formattedPrice}"></div>
                            <div class="icon">
                                <div th:if="${#lists.isEmpty(product.images)}" style="text-align: center;">
                                    Không có hình ảnh
                                </div>
                                <div th:unless="${#lists.isEmpty(product.images)}" style="text-align: center;">
                                    <img th:src="${product.images[0].downloadUrl}" alt="${product.images[0].fileName}"
                                         style="max-width: 150px; margin: 5px; border: 1px solid #ddd; border-radius: 4px;">
                                </div>
                            </div>
                            <div class="description-bottom card-body" th:text="${product.category.name}"></div>
                                <a type="submit" class="btn btn-buy" href="/Product">
                                    <i class="bi-cart"></i>
                                </a>
                        </div>
                    </div><!-- End Pricing Item -->

                </div><!-- End pricing row -->

            </div>

        </section>
        <!-- Sản phẩm -->

        <!-- Contact Section -->
        <section id="contact" class="contact section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Liên Hệ</h2>
            <div><span>Liên hệ với chung tôi</span> <span class="description-title">Để được hỗ trợ tốt nhất</span></div>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade" data-aos-delay="100">

            <div class="row gy-4">
                <div class="col-lg-4">
                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                        <i class="bi bi-geo-alt flex-shrink-0"></i>
                        <div>
                            <h3>Địa Chỉ</h3>
                            <p>116 Đình Phong Phú, TP Thủ Đức, Việt Nam</p>
                        </div>
                    </div>

                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                        <i class="bi bi-telephone flex-shrink-0"></i>
                        <div>
                            <h3>Gọi cho chung tôi</h3>
                            <p>+89 03298410xxx</p>
                        </div>
                    </div>

                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                        <i class="bi bi-envelope flex-shrink-0"></i>
                        <div>
                            <h3>Email</h3>
                            <p>dacthang16@gmail.com</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8">
                    <form method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
                        <div class="row gy-4">
                            <div class="col-md-6">
                                <input type="text" name="name" class="form-control" placeholder="Nhập tên của bạn" required="">
                            </div>
                            <div class="col-md-6 ">
                                <input type="email" class="form-control" name="email" placeholder="Nhập Email" required="">
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" name="subject" placeholder="Nhập tiêu đề" required="">
                            </div>
                            <div class="col-md-12">
                                <textarea class="form-control" name="message" rows="6" placeholder="Nhập nôi dung" required=""></textarea>
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Tin nhắn của bạn đã đc gởi, cảm mơn bạn!</div>
                                <button type="submit">Gởi tin Nhắn</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>

    </section>
        <!-- /Contact Section -->
    </main>
    <!-- end body -->

    <!-- Footer -->
    <footer id="footer" class="footer light-background">
        <div class="container">
            <div class="copyright text-center ">
                <p>© <span>Copyright</span> <strong class="px-1 sitename">Gạo Quê</strong></p>
            </div>
            <div class="social-links d-flex justify-content-center">
                <a href=""><i class="bi bi-twitter-x"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
    </footer>
    <!-- end Footer -->

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>

<!-- Main JS File -->
<script src="/assets/js/main.js"></script>
</body>
</html>
